@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>    
                Serial_number
            </th>
            <th>
                order_id
            </th>
            <th>
                Product_id
            </th>
            <th>
                Product_name
            </th>
            <th>
                inStock
            </th>
            <th>
                Customer Id
            </th>
            <th>
                Customer Name
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>